<div class="block p-3">
    <h1 class="title is-4">En Kanakku</h1>
</div>
<aside class="menu">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li>
            <a>Dashboard</a>
        </li>
        <li>
            <a>Customers</a>
        </li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
        <li>
            <a>Team Settings</a>
        </li>
        <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
                <li>
                    <a>Members</a>
                </li>
                <li>
                    <a>Plugins</a>
                </li>
                <li>
                    <a>Add a member</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Invitations</a>
        </li>
        <li>
            <a>Cloud Storage Environment Settings</a>
        </li>
        <li>
            <a>Authentication</a>
        </li>
    </ul>
    <p class="menu-label">Import</p>
    <ul class="menu-list">
        {% url 'import_firefly' as firefly_import %}
        <li>
            <a href="{{ firefly_import }}"
               class="{% if request.path == firefly_import %}is-active{% endif %}">Firefly III</a>
        </li>
        <li>
            <a>Transfers</a>
        </li>
        <li>
            <a>Balance</a>
        </li>
    </ul>
</aside>
