<div class="block p-3">
    <h1 class="title is-4">En Kanakku</h1>
</div>
<aside class="menu pl-3">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        {% url 'dashboard' as dashboard %}
        <li>
            <a href="{{ dashboard }}"
               class="{% if request.path == dashboard %}is-active{% endif %}">Dashboard</a>
        </li>
    </ul>
    <p class="menu-label">Import</p>
    <ul class="menu-list">
        {% url 'import_firefly' as firefly_import %}
        {% url 'import_hdfc' as hdfc_import %}
        <li>
            <a href="{{ firefly_import }}"
               class="{% if request.path == firefly_import %}is-active{% endif %}">Firefly III</a>
        </li>
        <li>
            <a href="{{ hdfc_import }}"
               class="{% if request.path == hdfc_import %}is-active{% endif %}">HDFC Bank Statement</a>
        </li>
    </ul>
</aside>
