name: Test Coverage
on: [push, pull_request]
jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      PYTHON: '3.10'
    steps:
      - name: Checkout action
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2

      - name: Install Dependencies
        run: |
          make requirements

      - name: Run test coverage
        run: |
          make coverage
